
nav {
   position: fixed; 
   top: 0;
   width:100%;
   display: flex;
   justify-content: flex-end;
   background-color: #fffef7;
   border-bottom-style: solid;
   border-bottom-color: #cec3b5;
}


nav .navigation-icon-wrapper {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
}

nav .navigation-icon {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

nav .navigation-icon span {
    display: block;
    background-color: #f7f0e8;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

nav .navigation-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

nav .navigation-icon span:nth-child(2) {
    top: 12.5px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

nav .navigation-icon span:nth-child(3) {
    top: 25px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

nav .navigation-icon.open span:nth-child(1) {
    top: 0px;
    left:4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

nav .navigation-icon.open span:nth-child(2) {
    opacity: 0;
}

nav .navigation-icon.open span:nth-child(3) {
    top: 28px;
    left:4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

ul.open {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #cec3b5;;
}

ul.open li a {
    color: black;
    }

ul {
    list-style-type: none;
    display: flex;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #837957;
}

@media (max-width: 700px) {
    nav ul {
        display: none;
    }
    nav .navigation-icon {
        display: block;
    }
}

body {
    background-color: #f9f7ef;
    color: #42413d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0;
  }

.background-darker {
    background-color: #cec7b7;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 700px){
    .background-darker {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.background-beige {
    background-color: #cec7b7;
    color: #fff;
}

.jumbotron {
    background-image: url("bild.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-style: double;
    border-color: #5a5a5a;
    color: #f7f0e8;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    display: block;
    justify-content: center;
    text-align: center;
    color:black;
    font-size: 18px;
    background-color: #f7f0e8;
    text-decoration: none;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

section {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}


.main-column {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1000px) {
    .main-column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.text-block {
    max-width: 500px;
    line-height: 25px;
    letter-spacing: 2px;
    padding: 50px;
}

.text-block:nth-child(2) {
    border-left: 1px solid white;
}

@media (max-width: 1000px) {
    .text-block {
            margin-bottom: 30px;
            padding: 20px;
            font-size: 13px;
    }

    .text-block:nth-child(2) {
        margin-bottom: 0px;
        border-left: none;
    }   
}

.text-section-top {
    margin: 5px;
}

 h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 200;
    color: #64572c;
}

@media (max-width:500px) {
    h1 {
        font-size: 25px;
    }
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    font-weight: 200;
    color:#f7f0e8;
    margin: 15px 0px 0px 0px;
}

@media (max-width:500px) {
    h2 {
        font-size: 30px;
    }
}

.border {
    border-bottom-style: double;
    border-color:  #f7f0e8;
    margin: 20px;
}

img {
    width: 30px;
    height: 30;
    margin: 5px;
}

footer {
    height: 15vh;
    font-size: 20px;
    width: 100%;
    background-color: #ece5dc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-style: double;
}
   
